@import url("../../../theme");

g.prop.explicit-link {
  path {
    pointer-events: none;
    fill: none;
  }

  path.outer {
    .link-explicit-outer();
  }

  path.inner {
    .link-explicit-inner();
  }
}