@import url("../../theme");

g.prop.background {

  rect.leaf.background {
    .leaf-background();
  }

  rect.leaf.edge {
    .leaf-edge();
  }

  rect.expanded-group.background {
    .expanded-group-background();
  }

  rect.collapsed-group.background {
    .collapsed-group-background();
  }
}