@import url("../../theme");

.status(@progressbarHeight: 50px) {
  div.status {
    padding: @leaf-padding;

    div.progressbar {
      height: @progressbarHeight;
    }
  }
}

div.layout.leaf {
  .status();
}

div.layout.group {
  .status(@progressbarHeight: 120);
}

g.prop.progressbar {
  .status();

  rect.bar {
    //pointer-events: none;
  }

  rect.bar.idle {
    fill: @idle;
  }

  rect.bar.running {
    fill: @running;
  }

  rect.bar.success {
    fill: @success;
  }

  rect.bar.failed {
    fill: @failed;
  }

  rect.bar.cancelled {
    fill: @cancelled;
  }

  rect.bar.undefined {
    fill: @undefined;
  }

  rect.bar.uninitialized {
    fill: @uninitialized;
  }

  rect.outline {
    pointer-events: none;
    fill: none;
    stroke-width: 3px;
    stroke: darken(@node-background, 30%);
  }

  rect.border {
    .leaf-border-background();
  }

  rect.border.focused {
    .leaf-border-background-focused();
  }
}