
div.node-item-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.node-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 10pt;
  padding: 3px;
  text-transform: capitalize;
  border-radius: 4px;

  div.icon {
    cursor: pointer;
  }

  div.title {
    //flex: 1;
    cursor: default;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  div.title.inactive {
    color: grey;
  }

  div.context {
    display: flex;
    //color: hsl(0, 0%, 20%);
  }

  span.progress {
    margin-left: 7px;
    margin-right: 7px;
    cursor: default;
    //opacity: 0.7;
  }
}

div.node-item.hovered {
  background-color: #f53321;
}

div.node-item.focused {
  background-color: #ecedee;
}

div.node-item.failed {
  color: hsl(0, 70%, 40%);
}

div.nodes-list {
  //background-color: green;
  width: 100%;
}

div.nodes-tree {
  //background-color: red;
  width: 100%;
}

.icon-idle {
  color: @idle;
}

.icon-running {
  color: @running;
}

.icon-success {
  color: @success;
}

.icon-failed {
  color: @failed;
}

.icon-cancelled {
  color: @cancelled;
}

.icon-undefined {
  color: @undefined;
}

.icon-uninitialized {
  color: @uninitialized;
}