@import url("pages/pages");
@import url("../theme");

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div.page.content {
  flex-grow: 1;
  padding: 12px;
  padding-bottom: 0px;
}

div.footer {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
}

div.legend.job-status {
  display: flex;
  justify-content: center;
  align-items: center;

  div.status {
    width: 12px;
    height: 12px;
    margin: 0px 5px 0px 5px;
    border: 1px solid;
    border-color: hsl(0, 0%, 40%);
    border-radius: 2px;
  }

  div.status.idle {
    background-color: @idle;
  }

  div.status.running {
    background-color: @running;
  }

  div.status.success {
    background-color: @success;
  }

  div.status.failed {
    background-color: @failed;
  }

  div.status.cancelled {
    background-color: @cancelled;
  }

  div.status.undefined {
    background-color: @undefined;
  }

  div.status.uninitialized {
    background-color: @uninitialized;
  }
}

div.cell.job-status {
  color: white;
  border-radius: 4px;
}

div.cell.job-status.success {
  background-color: @success;
}

div.cell.job-status.idle {
  background-color: @idle;
}

div.cell.job-status.running {
  background-color: @running;
}

div.cell.job-status.success {
  background-color: @success;
}

div.cell.job-status.failed {
  background-color: @failed;
}

div.cell.job-status.cancelled {
  background-color: @cancelled;
}

div.cell.job-status.undefined {
  background-color: @undefined;
}

div.cell.job-status.uninitialized {
  background-color: @uninitialized;
}

