<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div id="app" class="app">
</div>
</body>
</html>