@import url("../../../theme");

.leaf-header() {
  div.header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    padding: @leaf-padding;

    font-size: 14pt;
    font-weight: bold;
    line-height: normal;

    min-width: 400px;

    div.title {
      padding: 2px;
      display: flex;
      font-size: 40pt;
      font-weight: bold;
      color: darken(@node-background, 30%);
      position: static;
    }

    div.progress {
      margin-top: 30px;
      margin-bottom: 15px;
      padding: 15px;
      width: 260px;
      text-align: center;
      background-color: lighten(@node-background, 25%);
      color: white;
      font-size: 46pt;
      font-weight: bold;
      border-radius: 15px;
    }

    div.progress.idle {
      background-color: @idle;
    }

    div.progress.running {
      background-color: @running;
    }

    div.progress.success {
      background-color: @success;
    }

    div.progress.failed {
      background-color: @failed;
    }

    div.progress.cancelled {
      background-color: @cancelled;
    }

    div.progress.undefined {
      background-color: @undefined;
    }

    div.progress.uninitialized {
      background-color: @uninitialized;
    }

    div.sub {
      margin-top: 10px;
      padding: 2px;
      color: darken(@node-background, 10%);
      font-size: 32pt;
      font-weight: bold;
    }

    div.title.proxy {
      color: transparent;
      border-radius: 6px;
      background-color: @proxy-color;
    }

    div.sub.proxy {
      color: transparent;

      border-radius: 6px;
      background-color: @proxy-color;
    }

    div.progress.proxy {
      color: transparent;

      background-color: @proxy-color;
    }
  }
}

div.leaf.layout {
  .leaf-header();
}

g.prop.leaf-header {
  .leaf-header();
}