@import url("../../../theme");

.leaf-hub() {
  div.hub {
    flex-grow: 1;
    display: flex;
    pointer-events: none;
    margin: 20px 0px 20px 0px;
    padding: 10px 15px 10px 15px;

    background-color: lighten(@node-background, 30%);

    div.ports.in, div.ports.out {
      //pointer-events: none;
      flex-grow: 1;
      flex-shrink: 0;
    }

    div.gutter {
      pointer-events: none;
      width: 40px;
    }

    div.port {
      display: flex;
      flex-direction: row;
      align-items: center;
      pointer-events: none;
      padding: 3px;

      div.anchor {
        width: 24px;
        height: 24px;
        margin: 8px;
        border-radius: 12px;
        border: 5px solid darken(@node-background, 25%);
      }
    }

    div.port.out {
      justify-content: flex-end;
    }

    div.text {
      line-height: 1;
      color: darken(@node-background, 30%);
      font-size: 16pt;
      font-weight: bold;
      padding: 0px;
    }
  }
}

div.leaf.layout {
  .leaf-hub();
}

g.prop.leaf-hub {
  .leaf-hub();

  rect.border {
    .hub-border-background();
  }

  rect.border.focused {
    .hub-border-background-focused();
  }

  rect.background {
    fill: lighten(@node-background, 27%);
    stroke-width: 4px;
    stroke: darken(@node-background, 30%);
  }
}
