@import url("border");
@import url("header");
@import url("hub");
@import url("overview");

.leaf-layout {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  flex-grow: 0;
  pointer-events: none;
  min-width: 600px;

  div.node {
    pointer-events: none;
  }
}

div.layout.leaf {
  .leaf-layout();
}