@import url("../../../theme");

g.prop.leaf-overview {
  div.overview {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.progress {
      padding: 50px;
      color: white;
      font-size: 90pt;
      font-weight: bold;
      //width: 400px;
      text-align: center;
      //height: 400px;
      //width: 100%;
      //height: 100%;
      border-radius: 20px;
      line-height: 1.1;
    }

    div.progress.idle {
      background-color: @idle;
    }

    div.progress.running {
      background-color: @running;
    }

    div.progress.success {
      background-color: @success;
    }

    div.progress.failed {
      background-color: @failed;
    }

    div.progress.cancelled {
      background-color: @cancelled;
    }

    div.progress.undefined {
      background-color: @undefined;
    }

    div.progress.uninitialized {
      background-color: @uninitialized;
    }
  }
}