@import url("d3/d3");
@import url("react/react");
@import url("theme");

html, body {
  //min-height: 100%;
  height: 100%;
  //display: flex;
  //flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  //min-height: 100vh;
}

svg {
  background-color: hsl(0, 0%, 100%);
}

div.run.jobs {
  display: flex;
  padding: 0px;
  height: 100%;

  div.bars {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: hsl(0, 0%, 80%);
    width: 100%;
    height: 12px;
    border: 1px solid hsl(0, 0%, 40%);
    border-radius: 0px;
    /*background: repeating-linear-gradient(
            45deg,
            hsl(0, 0%, 50%),
            hsl(0, 0%, 50%) 10px,
            hsl(0, 0%, 20%) 10px,
            hsl(0, 0%, 20%) 20px
    );*/

    .idle {
      background-color: @idleBar;
      width: 0px;
    }

    div.idle:hover {
      background-color: saturate(lighten(@idleBar, 9%), 10%);
    }

    div.running {
      background-color: @runningBar;
      width: 0px;
    }

    div.running:hover {
      background-color: saturate(lighten(@runningBar, 9%), 10%);
      width: 0px;
    }

    div.success {
      background-color: @successBar;
      width: 0px;
    }

    div.success:hover {
      background-color: saturate(lighten(@successBar, 9%), 10%);
      width: 0px;
    }

    div.failed {
      background-color: @failedBar;
      width: 0px;
    }

    div.failed:hover {
      background-color: saturate(lighten(@failedBar, 9%), 10%);
      width: 0px;
    }

    div.cancelled {
      background-color: @cancelledBar;
      width: 0px;
    }

    div.cancelled:hover {
      background-color: saturate(lighten(@cancelledBar, 9%), 210%);
      width: 0px;
    }

    div.undefined {
      background-color: @undefinedBar;
      width: 0px;
    }

    div.undefined:hover {
      background-color: saturate(lighten(@undefinedBar, 9%), 10%);
      width: 0px;
    }
  }

  div.bar {
    opacity: 0.92;
  }
}

span.filterMatch {
  font-weight: bold;
}

a.node-path {
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
}

a.node-path:hover {
  color: #4183c4;
}

a.filter-link {
  font-weight: normal;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
}

a.filter-link:hover {
  //color: #4183c4;
  color: hsl(0, 0%, 20%);
}

a.filter-link.active {
  color: hsl(0, 0%, 0%);
  //color: #4183c4;
}

body ::-webkit-scrollbar-track {
  background-color: lighten(#f3f4f5, 0%);
}

body::-webkit-scrollbar-thumb {
  background-color: lighten(#f3f4f5, 10%);
  outline: 1px solid slategrey;
}

body ::-webkit-scrollbar {
  background-color: lighten(#f3f4f5, 60%);
  width: 14px;
}

body ::-webkit-scrollbar-thumb {
  background: #f3f4f5;
  border-radius: 4px;
  border: 1px solid #d4d4d5;
}

body ::-webkit-scrollbar-thumb:hover {
  background: lighten(#f3f4f5, 2%);
}