@idle: hsl(210, 50%, 40%);
@running: hsl(42, 58%, 45%);
@success: hsl(120, 50%, 33%);
@failed: hsl(8, 60%, 36%);
@cancelled: hsl(278, 45%, 33%);
@undefined: hsl(186, 25%, 45%);
@uninitialized: hsl(0, 0%, 60%);

.faded-bar-color(@color) {
  background-color: fade(@color, 90%);
}

.status-background(@color) {
  background-color: @color;
}

@idleBar: desaturate(lighten(@idle, 10%), 10%);
@runningBar: desaturate(lighten(@running, 10%), 10%);
@successBar: desaturate(lighten(@success, 10%), 10%);
@failedBar: desaturate(lighten(@failed, 10%), 10%);
@cancelledBar: desaturate(lighten(@cancelled, 10%), 10%);
@undefinedBar: desaturate(lighten(@undefined, 10%), 10%);

@idleBarDisabled: desaturate(lighten(@idleBar, 20%), 100%);
@runningBarDisabled: desaturate(lighten(@runningBar, 20%), 100%);
@successBarDisabled: desaturate(lighten(@successBar, 20%), 100%);
@failedBarDisabled: desaturate(lighten(@failedBar, 20%), 100%);
@cancelledBarDisabled: desaturate(lighten(@cancelledBar, 20%), 100%);
@undefinedBarDisabled: desaturate(lighten(@undefinedBar, 20%), 100%);

@groupBackground: hsl(210, 9%, 50%);
@node-background: hsl(210, 9%, 50%);
@focusable-color: lighten(@node-background, 30%);
@focus-color: hsl(38, 85%, 55%);
@proxy-color: lighten(@node-background, 25%);
@font-family: Lato;
@group-padding: 50px;
@leaf-padding: 40px;
@focus-opacity: 0.9;

/* ========== GROUP ========== */
.expanded-group-background() {
  fill: lighten(@node-background, 40%);
  fill-opacity: 0.9;
  pointer-events: none;
}

.collapsed-group-background() {
  fill: lighten(@node-background, 40%);
  fill-opacity: 1.0;
  pointer-events: none;
}

.group-edge() {
  pointer-events: none;
  fill: none;
  stroke-width: 7px;
  stroke-dasharray: 10, 10;
  stroke: darken(@node-background, 0%);
}

/* ========== LEAF ========== */
.leaf-background() {
  pointer-events: none;
  fill: lighten(@node-background, 40%);
}

.leaf-edge() {
  pointer-events: none;
  fill: none;
  fill-opacity: 0;
  stroke-width: 8px;
  stroke: darken(@node-background, 10%);
}

.leaf-overlay-border() {
  stroke-width: 4px;
  stroke-dasharray: none;
  stroke: darken(@expand-collapse-color-normal, 30%);
}

/* ========== NODE TRANSITION STYLING ========== */
.node-transition() {
  fill: none;
  stroke-width: 4px;
  stroke: @node-background;
}

/* ========== NODE BORDER ========== */
@node-border-color: @focusable-color;
@node-border-background-color: @node-border-color;
@node-border-background-color-focused: @focus-color;
@node-border-background-opacity: 1;
@node-border-background-opacity-focused: @focus-opacity;
@expand-collapse-arrows-color: @node-border-color;
@expand-collapse-arrows-color-focused: @focus-color;
@expand-collapse-arrows-opacity: 1;
@expand-collapse-arrows-opacity-focused: @focus-opacity;

.node-border-background() {
  stroke: none;
  fill: @node-border-background-color;
  fill-opacity: @node-border-background-opacity;
}

.node-border-background-focused() {
  pointer-events: none;
  fill: @node-border-background-color-focused;
  fill-opacity: @node-border-background-opacity-focused;
}

.leaf-border-background() {
  .node-border-background();
}

.leaf-border-background-focused() {
  .node-border-background-focused();
}

.group-border-background() {
  .node-border-background();
}

.group-border-background-focused() {
  .node-border-background-focused();
}

.group-hit() {
  fill: black;
  opacity: 0;
  pointer-events: auto;
}

.expand-collapse-arrows() {
  pointer-events: none;
  fill: @expand-collapse-arrows-color;
  fill-opacity: @expand-collapse-arrows-opacity;
}

.expand-collapse-arrows-focused() {
  fill: @expand-collapse-arrows-color-focused;
  fill-opacity: @expand-collapse-arrows-opacity-focused;
}

/* ========== HUB BORDER ========== */
.hub-border-background() {
  .node-border-background();
}

.hub-border-background-focused() {
  .node-border-background-focused();
}

/* ========== LINK ========== */
@link-stroke-width-outside: 20px;
@link-stroke-width-inside: 10px;
@link-stroke-width-simplified: @link-stroke-width-inside;
@link-stroke-color: darken(@node-background, 30%);
@link-stroke-color-simplified: darken(@node-background, 5%);
@link-border-stroke-width: 40px;
@link-border-stroke-width-focused: @link-border-stroke-width;

.implicit-stroke(@stroke-width: 5) {
  pointer-events: none;
  stroke: darken(@node-background, 10%);
  stroke-width: @stroke-width;
  stroke-dasharray: 9, 12;
  stroke-linejoin: round;
}

.link-border() {
  pointer-events: none;
  stroke-width: @link-border-stroke-width;
  stroke: darken(@node-background, 10%);
  stroke-opacity: 0.1;
}

.link-focus() {
  pointer-events: none;
  stroke-width: @link-border-stroke-width-focused;
  stroke: @focus-color;
  stroke-opacity: @focus-opacity;
}

.link-hit() {
  stroke-width: @link-border-stroke-width + 20;
  stroke: black;
  opacity: 0;
}

.link-explicit-outer() {
  pointer-events: none;
  stroke-width: @link-stroke-width-outside;
  stroke: @link-stroke-color;
}

.link-explicit-inner() {
  pointer-events: none;
  stroke-width: @link-stroke-width-inside;
}

.link-simplified() {
  pointer-events: none;
  stroke-width: 10;
  stroke: @link-stroke-color-simplified;
}

.link-simplified-implicit() {
  .implicit-stroke(@stroke-width: 4);
}