@import url("../../../theme");

g.prop.group-border{
  path.background {
    .group-border-background();
  }

  path.background.focused {
    .group-border-background-focused();
  }

  path.arrows {
    .expand-collapse-arrows();
  }

  path.arrows.focused {
    .expand-collapse-arrows-focused();
  }

  path.hit {
    fill: white;
    stroke: none;
    opacity: 0;
  }
}