@import url("border");
@import url("header");
@import url("hit");

.group-layout {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: @group-padding;
}

div.layout.group {
  .group-layout();
}