@import url("../../../theme");

.group-layout-header {
  div.header {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    min-width: 400px;
    width: 100%;
    font-size: 72pt;
    line-height: 1;

    div.label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      font-weight: bold;
      width: 100%;
      color: darken(@node-background, 25%);

      div.name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px;
        padding: 30px 30px 30px 50px;
      }

      div.progress {
        margin: 10px 10px 10px 20px;
        padding: 30px;
        width: 400px;
        text-align: right;
        font-weight: bold;
        color: lighten(@node-background, 45%);
      }
    }

    div.content {
      width: 100%;
      flex: 1;
      background-color: green;
    }
  }
}

div.layout.group.header {
  .group-layout-header();
}

.badge-background {
  pointer-events: none;
  fill: lighten(@node-background, 25%);
}

.badge-focus {
  fill: white;
  fill-opacity: 0.1;
}

g.prop.group-header {
  .group-layout-header();

  rect.background {
    .badge-background();
  }

  rect.background.idle {
    fill: @idle;
  }

  rect.background.running {
    fill: @running;
  }

  rect.background.failed {
    fill: @failed;
  }

  rect.background.success {
    fill: @success;
  }

  rect.focus {
    .badge-focus();
  }
}

/*
  */

/*  div.progressbar {
    margin: 10px;
    height: 80px;
  }*/
